/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol, menu{
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

/*LAYOUT*/

body{
    font-family: 'Open Sans', sans-serif;
}
.container-lg, .container, .container-sm{
    margin: 0 auto;
    padding: 0 12px;
}
.container-lg{
   max-width:100%
}
.container{
    max-width: 1224px;
}
.container-sm{
    max-width: 1024px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.page-header .nav--row{
  display: flex;
  justify-content: space-between;
  max-height: 80px;
}
.page-header .logo-menu, .login-menu{
    display:flex;
    align-items: center;
}
.col-4{
    width: calc(4* 100% / 12);
}
.col-6{
  aspect-ratio: 1 /1;
  width: calc(6* 100% / 12);
  display: flex;
  min-width: 300px;

}
.hero .hero--row{
    display: flex;
}
.hero--row .hero--img{
    flex-grow: 1;
}

.hero--row .col-4__hero{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 20px;
}
.down-arrow{
    margin-top: auto;
    padding-bottom: 20px;
    font-size: 60px;
    font-weight: 800;
    animation-name: scroll;
    animation-duration: 1s;
    
}
@keyframes scroll{
    0% {
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0px);
    }

}
.row.row-business{
    flex-wrap:wrap;
}
.col-4.plan-lg{
    flex-grow: 1;
}
.col-4.col-enterprise{
    flex-grow: 1;

}
.col-4.partner-img{
    flex-grow: 1;
}
.col-4.col-4_6{
    display: flex;
    flex-wrap: wrap;
    

}

/*STYLE*/
section:not(.page-header, .designit, .footer){
    margin-bottom: 100px;
}
.page-header .header__container{
    background-color: white;
    padding: 24px 16px;
    
}
a.none{
    text-decoration: none;
    color: currentColor;
}
a.button{
    background-color: rgb(0, 97, 255);
    color: white;
    padding:5px 16px;
    line-height: 40px;
    display: block;
    text-align: center;
    text-decoration: none;
}
a.buttom.bt-sm{
    padding: 5 16px;
    line-height: 20px;
}
a.blue-a{
    color: blue;
    margin: 5px;
}

.logo-menu > li{
    padding-right: 16px;
}
.login-menu :nth-child(2){
    padding: 0 32px;
}

.login-menu :nth-last-child(2){
    padding-right: 16px;
}
main .hero{
    background-color: rgb(180, 208, 231);
}

.hero .hero--title{
    font-size: 80px;
    font-weight: 800;
    padding-top: 100px;
    
}
.button.hero-bt{
    transition: background-color 1s;
}
.button.hero-bt:hover{
    background-color:rgb(21, 21, 92);
}
.hero .hero--body{
    margin-top: 64px;
    margin-bottom: 100px;
}
p, label{
    font-size: 16px;
    font-weight: 400;
}
.button.hero--button{
    margin: 34px 0;
}
h3{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 55px;
}
h4{
    font-size: 25px;
    font-weight: 700;
}
.price{
    font-weight: 700;
}
.gray{
    color: gray;
    font-weight: 400;
}
.container-sm.business-top{
    margin-bottom: 50px;
    padding: 0 37px;
}
.ft-ms{
    margin-right: 45px;
}
.card-header-pl{
    text-align: center;
    line-height: 38px;
}
.card-header-pl{
    border-bottom: 1px solid lightgray;
}
.card-body-pl{
    padding: 27px;
    height: 100%;
    
}
.card-plan{
    height: 100%;
    border: 1px solid lightgray;
    
}
.col-4-plan, .col-4.plan-lg{
    padding:25px;
}
.container-sm.business-bottom{
    padding-bottom: 20px;
}
.list-text{
    text-indent: -10px;
    margin-bottom: 20px;
    font-size: 14px;
}
.list-check{
    text-indent: -17px;
    margin-bottom: 20px;
}
.card-body-list{
    padding-left: 15px;
}
.card-bottom{
    padding-left: 17px;
}
.blu{
    color: rgb(0, 97, 255);
}
.card-body-pl > *{
    margin-top: 40px;
}
.card-button.button{
    width: 100%;
}
.row.enterprise{
    margin-top: 0;
}
.ent-content{
    padding: 10px 0;
}
.button.bt-white{
    background-color: white;
    color: black;
    border: 1px solid black;
    display: inline-block;
    line-height: 30px;
}
.partner--row > *{
    padding: 12px;
}
.col-4.partner-content{
    padding: 12px 30px;
}
.col-4.partner-content > *{
    margin: 17px 0;
}
.col-4.col-bs{
    padding: 12px;
}
.col-4.col-bs > *{
    margin: 17px 0;
}
.col-6.cl-green{
   background-color: rgb(162, 211, 155);
   border: 15px solid rgba(255, 255, 255, 0.5);
}
.col-6.cl-bordeaux{
    background-color: rgb(97, 8, 43);
    
}
.col-6.cl-cyan{
    background-color: rgb(0, 147, 206);
}
.col-6.cl-red-v{
    background-color: rgb(255, 28, 28);
}
.col-6.cl-red{
    background-color: rgb(213, 0, 31);
}
.col-6.cl-brand{
    background-color: rgb(180, 208, 231);
}
.col-6.cl-blue{
    background-color: rgb(13, 36, 129);
}
.col-6.cl-yellow{
    background-color: rgb(255, 216, 48);
}
.col-4.col-des{
    background-color: rgb(245, 245, 245);
    padding: 45px; 
      
}
.col-des > *{
    margin-bottom: 45px;
}
.col-6 img{
    margin: auto;
    width: 50%;
    filter: invert(100%);
}
.brand-color{
    background-color: rgb(180, 208, 231); 
    margin: 0 12px;
}
.col-4.brand-tx{
    flex-grow: 1;
    color: rgb(97, 8, 43);
}
.row.brand-row{
    padding: 126px 0;
}
.button.bt-white.no-brd{
    border: none;
    display: inline-block;
    margin: 15px 25px;
    padding: 10px 40px;
}
.brand-tx h3.bordeaux{
    display: inline-block;
    margin-bottom: 0;
}
a.faq--sp{
    text-decoration: none;
    color: currentColor;
}
.faq{
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    padding-right: 24px;
}
.row.row-footer{
    color: white;
    justify-content: space-between;
}
li.ft-item a {
    color: currentColor;
    text-decoration: none;
}
div.footer-list > h4 {
    padding: 10px 0;
}
li.ft-item{
    margin-top: 23px;
}
.footer{
    padding: 100px 0;
    background-color: black;
    color: white;
    margin: 0 12px;
}
.after::after{
    content:"";
    width: 120px;
    height: 1px;
    background-color: white;
    display: block;
    margin-top: 114px;
}
.after-dark::after{
    content:"";
    width: 40px;
    height: 1px;
    background-color: lightgray;
    display: block;
    margin-top: 50px;
}
.footer-bt{
    margin-top: 50px;
}