/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol, menu{
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

/*LAYOUT*/

body{
    font-family: 'Open Sans', sans-serif;
}
.container-lg, .container, .container-sm{
    margin: 0 auto;
    padding: 0 12px;
}
.container-lg{
   width: 100%;
}
.container{
    max-width: 1224px;
}
.container-sm{
    max-width: 1024px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.page-header .nav--row{
  display: flex;
  justify-content: space-between;
  max-height: 80px;
}
.page-header .logo-menu, .login-menu{
    display:flex;
    align-items: center;
}
.col-4{
    width: calc(4* 100% / 12);
}
.hero .hero--row{
    display: flex;
}
.hero--row .hero--img{
    flex-grow: 1;
}

.hero--row .col-4__hero{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 20px;
}
.down-arrow{
    margin-top: auto;
    padding-bottom: 20px;
    font-size: 60px;
    font-weight: 800;
}
.row.row-business{
    flex-wrap:wrap;
}
.col-4.plan-lg{
    flex-grow: 1;
}
.col-4.col-enterprise{
    flex-grow: 1;

}
.col-4.partner-img{
    flex-grow: 1;
}
/*STYLE*/
section:not(.page-header){
    margin-bottom: 100px;
}
.page-header .header__container{
    background-color: white;
    padding: 24px 16px;
    
}
a.none{
    text-decoration: none;
    color: currentColor;
}
a.button{
    background-color: rgb(0, 97, 255);
    color: white;
    padding:5px 16px;
    line-height: 40px;
    display: block;
    text-align: center;
    text-decoration: none;
}
a.buttom.bt-sm{
    padding: 5 16px;
    line-height: 20px;
}
a.buy-now{
    color: blue;
    margin: 5px;
}

.logo-menu > li{
    padding-right: 16px;
}
.login-menu :nth-child(2){
    padding: 0 32px;
}

.login-menu :nth-last-child(2){
    padding-right: 16px;
}
main .hero{
    background-color: rgb(180, 208, 231);
}
.hero .hero--title{
    font-size: 80px;
    font-weight: 800;
    padding-top: 100px;
    
}
.hero .hero--body{
    margin-top: 64px;
    margin-bottom: 100px;
}
p, label{
    font-size: 16px;
    font-weight: 400;
}
.button.hero--button{
    margin: 34px 0;
}
h3{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}
h4{
    font-size: 25px;
    font-weight: 700;
}
.price{
    font-weight: 700;
}
.gray{
    color: gray;
    font-weight: 400;
}
.container-sm.business-top{
    margin-bottom: 50px;
}
.ft-ms{
    margin-right: 45px;
}
.card-header-pl{
    text-align: center;
    line-height: 38px;
}
.card-header-pl{
    border-bottom: 1px solid grey;
}
.card-body-pl{
    padding: 25px;
    height: 100%;
    
}
.card-plan{
    height: 100%;
    border: 1px solid grey;
    
}
.col-4-plan, .col-4.plan-lg{
    padding:12px;
}
.container-sm.business-bottom{
    padding-bottom: 20px;
}
.list-text{
    text-indent: -10px;
    margin-bottom: 20px;
}
.list-check{
    text-indent: -17px;
    margin-bottom: 20px;
}
.card-body-list{
    padding-left: 15px;
}
.card-bottom{
    padding-left: 17px;
}
.blu{
    color: rgb(0, 97, 255);
}
.card-body-pl > *{
    margin-top: 40px;
}
.card-button.button{
    width: 100%;
}
.row.enterprise{
    margin-top: 0;
}
.ent-content{
    padding: 10px 0;
}
.button.bt-white{
    background-color: white;
    color: black;
    border: 1px solid black;
    display: inline-block;
    line-height: 30px;
}
.partner--row > *{
    padding: 12px;
}
.col-4.partner-content{
    padding: 12px 30px;
}
.col-4.partner-content > *{
    margin: 17px 0;
}
.col-4.col-bs{
    padding: 12px;
}
.col-4.col-bs > *{
    margin: 17px 0;
}